<!DOCTYPE html>
<html ng-app="tetris">

  <head>
    <meta charset="utf-8" />
    <title>tetris</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script src="app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body ng-controller="MainCtrl" ng-keydown="on_keypress($event)" >
    <div>
	    <table class="preview_matrix">
	    	<tr ng-repeat="row in preview_matrix.dump() track by $index">
	    		<td ng-repeat="cell in row track by $index" ng-style="{ 'background-color': cell }" class="cell">
	    		</td>
	    	</tr>
	    </table>
    </div>
    <div>
      Score: {{score}}
    </div>
    <div>
      <div class="btn btn-success btn-sm" ng-click="start_game()" title="↓">Go</div>
      <div class="btn btn-warning btn-sm" ng-click="pause_game()" title="Esc" ng-class="is_playing ? '' : 'disabled'">{{is_pausing ? "Resume" : "Pause"}}</div>
    </div>
    <hr>
    <div ng-click="on_keypress($event)">
	    <table class="matrix">
	    	<tr ng-repeat="row in matrix.dump() track by $index">
	    		<td ng-repeat="cell in row track by $index" ng-style="{ 'background-color': cell }" class="cell">
	    		</td>
	    	</tr>
	    </table>
    </div>
  </body>
</html>